{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Manga List
      {% if mangas|length %}
      <span class="label label-default">
        {{ mangas | length }}
      </span>
      {%endif %}
    </h1>
  </div>
  <div class="col-md-8 fluid-container">
    {% if not mangas %}
      <p>No manga in database.</p>
    {% else %}
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Countdown</th>
      </tr>
      {% for manga in mangas|sort(attribute='countdown') %}
      <tr{% if manga.countdown < 1.0 %} class="info" {% endif %}>
        <td>
          <a href="{{ 'manga-edit' | uri(ident=manga.key.urlsafe()) }}" > {{ manga.name }}</a>
        <span class="badge">
          {% if manga.volume >= 0 %}v{{ manga.volume }}{% endif %} c{{ manga.chapter }}
        </span>
        </td>
        <td>{{ manga.countdown }} days
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
  <div class="col-md-4 fliud-containter">
    <ul class="list-group">
      <li class="list-group-item active">
        <h4>
          Actions
        </h4>
      </li>
      <a href="{{ 'manga-add' | uri}}" class="list-group-item">
        <span class="badge">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </span>
        Add New Manga
      </a>
      <a href="{{ 'update-all' | uri }}" class="list-group-item">
        <span class="badge">
          <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
        </span>
        Update All Manga
      </a>
    </ul>
  </div>
</div>

{% endblock %}
