<html>
<body>
<form method="post">
  <p>Name: <input type="text" name="name" value="{{ manga.name }}" />
  <p>Url Scheme: <input type="text" name="url_scheme" value="{{ manga.url_scheme }}" />
  <p>Volume: <input type="number" name="volume" value="{{ manga.volume }}" />
  <p>Chapter: <input type="chapter" name="chapter" value="{{ manga.chapter }}" />
  <p>Update Frequency: <input type="number" step="any" name="frequency" value="{{ manga.frequency }}" />
  <p>Update Units: <select name="freq_units">
    <option value="pages" {% if manga.freq_units == "pages" %}selected{% endif %}>Pages</option>
    <option value="days" {% if  manga.freq_units == "days" %}selected{% endif %}>Days</option>
  </select>
  <p>Countdown: <input type="number" step="any" name="countdown" value="{{ manga.countdown }}" />
  <p>Manga Updates Url: <input type="text" name="manga_updates_url" value="{{ manga.manga_updates_url }}" />
  <input type="hidden" name="key" value="{{ manga.url_key }}" />
  <p><input type="submit" value="Update!"/>
</form>
</body>
</html>
